<speech>
	<status>on</status>
	<brightnessControl>off</brightnessControl>
	<systemControl>on</systemControl>
	<songControl>off</songControl>
	<videoControl>off</videoControl>
	<internetControl>on</internetControl>
	<IntelVideoPause>off</IntelVideoPause>
	<IntelVideoControl>off</IntelVideoControl>
	<IntelBrightnessControl>off</IntelBrightnessControl>
	<IntelSystemLock>off</IntelSystemLock>
</speech>